#topbar{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid $border-color1;
	line-height: 20px;
	overflow: hidden;
}
.channel-logo{
	position:absolute;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  max-width: 40px;
  height: auto;
  border: 1px solid $border-color1;
	&[src*="assets/images/offline.png"]{
		border: 0px;
	}
	&:not([src*="assets/images/offline.png"]){
		background-color: #fff;
	}
}
.info-box{
 margin: 0px 0px 0px 55px;
 padding: 5px 0px;
 height: 100%;
 white-space: nowrap;
 li{
 	font-size: 14px;
 	font-weight: 300;
 }
}
.stats{
	overflow: hidden;
	height: 20px;
	i,
	span{
		padding-right: 5px;
	}
	span{
		margin-right: 5px;
		cursor: default;
	}
}
#topbar-controls{
	background-color: $background-color5;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 0px;
	height: 50px;
	i{
		font-size: 30px;
		margin-right: 10px;
		cursor: pointer;
		color: $text-color4;
		transition: .5s;
		&:hover{
			color: $text-color1;
		}
	}
}
.topbar-small{
	#topbar{
		height: 30px;
	}
	.info-box{
		margin: 0px 10px;
	}
	.channel-logo,
	.stats{
		display: none;
	}
	#topbar-controls{
		height: 30px;
		padding: 7px 0px;
		i{
			font-size: 16px;
		}
	}
}