$font-stack1: 'Roboto', sans-serif;

$background-color1: #222;
$background-color2: #444;
$background-color3: #aaa;
$background-color4: #ddd;
$background-color5: #111;
$background-color6: #000;

$text-color1: #ddd;
$text-color2: #fff;
$text-color3: #000;
$text-color4: #aaa;
$text-color5: #999;
$text-color6: #eee;

$border-color1: #000;

$banner-color1: #237196;

$button-color1: #237196;
$button-color2: #bababa;

$fav-color: pink;
$switcher-color: #237196;
$pip-color: yellow;