*{
	margin: 0;
	padding: 0;
}
*{    
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}
li{
	list-style: none;
}
iframe{
	border: 0;
}
h4{
	text-transform: uppercase;
}
input[type=button], 
input[type=submit],
input[type=text],
select{
	padding: 2px;
	font-size: 11px;
	cursor: pointer;
	height: 22px;
	font-size: 10px;
	text-transform:uppercase;
}
input[type=text], 
select, 
textarea{
	text-transform:lowercase;
	font-weight: bold;
}
input[type=text]{
	width: 130px;
	cursor: text;
	height: 14px;
}
input[type=button], 
input[type=submit]{
	padding-left: 10px;
	padding-right: 10px;
}
select{
	height: 22px;
	width: 80px;
}
#wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#sidebar{
	position: absolute;
	right: 0;
	width: 319px;
	height: 100%;
	font-size: 12px;
}
#media{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 320px;
	bottom: 0px;
}
#video{
	border: 0px;
	overflow: hidden;
	height: calc(100% - 52px);
}
/* Tab styles */
.tabs{
	display: flex;
	display: -webkit-flex;
}
.tabs > li{
	-webkit-flex: 1;
	flex: 1;
	padding: 0px;
}
.tabs > li > input{
	display: none;
}
.tabs > li > label{
	display: block;
	cursor: pointer;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	color: #fff;
	visibility: visible;
	font-weight: normal;
	cursor: pointer;
}
.tab-content{
	display: none;
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.scrolled{
	overflow-y: scroll;
	overflow-x: hidden;
}
.padded{
	padding: 5px;
}
.tab-content ul{
	position: relative;
}
.tab-content h3{
	margin-top: 20px;
	margin-left: 8px;
	text-shadow: 0px 1px #000, 1px 0px #000, -1px 0px #000, 0px -1px #000;
}
.tabs li > input:checked ~ .tab-content{
	display: block;
}
h4{
	font-weight: bold;
	font-size: 14px;
}
.box-title{
	padding: 5px;
}
.box-title p{
	font-size: 12px;
	margin-top: 5px;
}
#switcher-switch{
	position: absolute;
	right: 5px;
	top: 4px;
}
#switcher-channels-select{
	width: 170px;
}
.channel, 
.switcher-channel{
	font-size: 15px;
	width: 295px;
	padding: 4px;
	height: 40px;
	min-height: 32px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.switcher-channel{
	margin-left: -6px;
}
.switcher-channel span{
	position: absolute;
	top: 10px;
	left: 6px;
}
.channel-splitter{
	font-family: Arial, Helvetica, sans-serif; 
	width: 295px;
	padding: 10px;
}
.channel-splitter h4{
	font-size: 12px;
	position: relative;
	margin-right: 15px; 
}
.channel-splitter h4 i{
	margin-right: 6px;
	font-size: 15px;
}
.channel-splitter .fa-caret-up, 
.channel-splitter .fa-caret-down{
	position: absolute;
	right: -7px;
	cursor: pointer;
}
.channel .channel-name{
	position: absolute;
	left: 50px;
	top: 4px;
	font-size: 12px;
}
.channel .channel-name .channel-genre{
	padding-top: 5px;
}
.channel .channel-stats{
	position: absolute;
	right: 1px;
	top: 23px;
	font-size: 12px;
}
.channel .details{
	font-family: Arial, Helvetica, sans-serif; 
	visibility: hidden;
	padding-top: 34px;
	padding-right: 20px;
	line-height: 16px;
	font-weight: normal;
	font-size: 14px;
}
.channel:hover .details, 
.channel:hover .controls{
	visibility: visible;
}
.channel li{
	margin-right: 0px;
	margin-left: 2px;
}
.channel .controls{
	position: absolute;
	right: 6px;
	margin-top: 0px;
	z-index: 100;
	visibility: hidden;
}
.vod{
	position: relative;
	font-size: 12px;
	min-height: 80px;
	height: auto;
}
.vod .vod-title{
	font-weight: bold;
}
.vod img{
	position: absolute;
	width: 100px;
	height: 75px;
	margin-top: 2px;
}
.vod .vod-details{
	margin: 2px 0px 5px 110px;
}
.vod .vod-details li{
	float: none;
}

.controls i{
	margin-left: 10px;
	font-size: 14px;
}
.controls i.not-favorite:hover{
	color: pink;
}
.controls i.is-favorite{
	color: pink;
}
.controls i.is-favorite:hover{
	color: #fff;
}
.controls i.not-switcher:hover{
	color: #0094FF;
}
.controls i.is-switcher{
	color: #0094FF;
}
.controls i.is-switcher:hover{
	color: #fff;
}
.channels img{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 1px;
	left: 4px;
	border: 1px solid #111;
}
.switcher-channel i{
	float: right;
	margin-top: 11px;
	margin-right: 26px;
	font-size: 16px;
}
.switcher-channel i.fa-trash-o{
	color: #FF0000;
}
.switcher-channel:hover i.fa-trash-o{
	visibility: visible;
}
.settings{
	font-weight: normal;
	font-size: 12px;
}
.settings form{
	margin: 5px;
}
.settings input{
	margin-top: 5px;
}
#local-switcher-switch{
	position: absolute;
	top: 6px;
	right: 4px;
}
#general-settings{
	margin: 5px;
}
#general-settings h4{
	padding-bottom: 10px;
}
#general-settings li, 
#general-settings-labels li{
	height: 24px;
}
#general-settings-labels{
	position: absolute;
	top: 43px;
	left: 63px;
}
.about{
	padding-left: 6px;
}
.about li{
	margin-top: 6px;
	font-size: 12px;
}
.about i.fa{
	margin-right: 6px;
	font-size: 20px;
}
#notification-box{
	position: absolute;
	width: 240px;
	height: 50px;
	left: 15px;
	bottom: -65px;
	padding: 5px;
}
#notification-box h3{
	font-size: 17px;
	height: 20px;
	width: 100%;
}
#notification-box p{
	font-size: 11px;
}
#statusbar{
	padding: 6px 0 0 6px;
	height: 46px;
}
#statusbar span{
	font-size: 15px;
	position: absolute;
	left: 52px;
	right: 90px;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
}
#statusbar .stat-item{
	position: relative;
	margin-right: 10px;
	left: 1px;
}
#statusbar img{
	width: 40px;
}
#statusbar a{
	text-decoration: none;
	font-size: 15px;
}
#statusbar a:hover{
	text-decoration: underline;
}
#stream-status{
	top: 5px;
	left: 52px;
	overflow: hidden;
}
#stream-stats{
	top: 28px;
}
#statusbar .toggle{
	position: absolute;
	right: 10px;
	cursor: pointer;
	font-size: 40px;
	border: none;
	-moz-transition: 0.3s; 
	-webkit-transition: 0.3s;
    -o-transition: 0.3s; 
	transition: 0.3s;
}
#statusbar .small-toggle{
	font-size: 26px;
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
}
#statusbar #topbar-toggle{
	right: 56px;
}
.loading{
	position: absolute;
	left: 115px;
	top: 50%;
	margin-bottom: 300px;
	visibility: hidden;
	z-index: 10000;
}
/* Settings switch*/
.onoffswitch{
    position: relative;
	width: 50px;
    -webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
	overflow: hidden; 
	cursor: pointer;
}
.onoffswitch-inner {
    width: 200%; 
	margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
	-webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, 
.onoffswitch-inner:after {
    float: left; 
	width: 50%; 
	height: 16px; 
	padding: 0; 
	line-height: 16px;
    font-size: 10px; 
	color: white;
	font-weight: 800;
    -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    text-align: right;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.button-desctiptions li{
	padding-bottom: 6px;
}
.ad{
	position: absolute;
	width: 300px;
	height: 50px;
	position: fixed;
	top: 29px;
	background-color: #000;
	background-image: url('images/adbkg.jpg');
}
#opt-0, 
#opt-1, 
#opt-2, 
#opt-3, 
#opt-4{
	display: none;
	opacity: 0;
}
#game-list .fa-heart, 
#game-list .fa-th-list{
	display: none;
}
#pip-box{
	display: none;
	padding: 14px 0px 0px 0px;
	position: absolute;
	z-index: 50000;
}
#pip-box i{
	position: absolute;
	top: 1px;
	right: 3px;
	font-size: 10px;
	cursor: pointer;
}
.pip-topleft{
	top: 58px;
	left: 6px;
}
.pip-topright{
	top: 58px;
	right: 6px;
}
.pip-bottomleft{
	bottom: 34px;
	left: 6px;
}
.pip-bottomright{
	bottom: 34px;
	right: 6px;
}
#pip-video{
	margin-bottom: -5px;
}