body{
	background-color: #000;
}
a{
	color: #E8E8E8;
}
input[type=button], input[type=submit],select,input[type=text]{
	border: 1px solid #fff;
	background-color: #F36A26;
	color: #000;
}
input[type=button]:hover, input[type=submit]:hover{
	background-color: #F36A26;
	color: #000;
}
input[type=text], select, textarea{
	background-color: #F36A26;
	color: #000;
}
#sidebar{
	background-color: #000;
	color: #999;
	border-left: 1px solid #000;
}
#media{
	background-color: #002758;
}
.tabs > li > label{
	background-color: #F36A26;
	color: #002758;
	border-right: 1px solid #002758;
}
.tabs > li > input:checked + label{
	background-color: #002758;
	color: #E8E8E8;
}
.tab-content{
	background-color: #002758;
	color: #fff;
}
.tab-content h3{
	color: #F36A26;
}
.channelSplitter{
	background-color: #F36A26;
	color: #002758;
	box-shadow: 0px 0px 2px 1px #000 inset;
}
.channel, .switcherChannel{
	color: #E8E8E8;
	background-color: #002758;
	box-shadow: 0px 1px 1px 1px #000;
}
.channel:nth-child(even), .vod:nth-child(even), .switcherChannel{
	background-color: #002D66;
}
.selectedChannel{
	box-shadow: 0px 0px 2px 1px #000 inset;
	background-color: #0052B7; 
}
.channel:hover, .switcherChannel:hover{
	background-color: #0052B7;
}
.controls i.fa-play:hover, .about i.fa-play{
	color: #00FF21;
}
.controls i.fa-external-link-square:hover, .about  i.fa-external-link-square{
	color: #FFEA23;
}
.controls i.fa-gamepad:hover, .about i.fa-gamepad{
	color: #AE00FF;
}
.controls i.fa-th-list:hover, .about i.fa-th-list{
	color: #0094FF;
}
.switcherChannel i.fa-trash-o, .about i.fa-trash-o,.controls i.fa-trash-o:hover{
	color: #FF0000;
}
.about i.fa-heart{
	color: pink;
}
.channels b{
	color: #E8E8E8;
}
#notificationBox{
	color: #002758;
	background-color: #F36A26;
	border: 2px solid #fff;
}
#notificationBox h3{
	border-bottom: 1px solid #002758;
}
#statusbar{
	background-color: #002758;
	border-bottom: 1px solid #000;
	box-shadow: 0px 0px 1px 1px #000 inset;
}
#statusbar span{
	color: #E8E8E8;
}
#statusbar .toggle{
	color: #0052B7;
}
#statusbar .smallToggle{
	color: #0052B7;
	width: 15px;
	height: 15px;
}
#statusbar .toggle:hover{
	color: #F36A26;
}
#statusbar .smallToggle:hover{
	color: #F36A26;
}
.onoffswitch-label {
    border: 1px solid #fff; 
}
.onoffswitch-inner:before {
    background-color: #F36A26;
    color: #000;
}
.onoffswitch-inner:after {
    background-color: #BABABA; 
    color: #000;
}
::-webkit-scrollbar{
	background-color: #002758;
	border-left: 1px solid black;
}
::-webkit-scrollbar-thumb{
	background-color: #F36A26;
	border-left: 1px solid black;
}
#pipbox{
	background-color: #002758;
	border: 1px solid #000;
}
#pipbox i{
	color: #F36A26;
}