body{
	background-color: #00137F;
}
a{
	color: #7FC9FF;
}
input[type=button], input[type=submit],select,input[type=text]{
	border: 1px solid #000;
	background-color: #7FC9FF;
	color: #000;
}
input[type=button]:hover, input[type=submit]:hover{
	background-color: #7FC9FF;
	color: #000;
}
input[type=text], select, textarea{
	background-color: #7FC9FF;
	color: #000;
}
#sidebar{
	background-color: #000;
	color: #7FC9FF;
	border-left: 1px solid #7FC9FF;
}
#sidebar i{
	text-shadow: 1px 1px #000;
}
#media{
	background-color: #00137F;
}
.tabs > li > label{
	background-color: #7FC9FF;
	color: #00137F;
	border-right: 1px solid #00137F;
}
.tabs > li > input:checked + label{
	background-color: #00137F;
	color: #7FC9FF;
}
.tab-content{
	background-color: #00137F;
}
.tab-content h3{
	color: #fff;
}
.channelSplitter{
	background-color: #7FC9FF;
	color: #00137F;
	box-shadow: 0px 0px 2px 1px #000 inset;
}
.channel, .switcherChannel{
	color: #7FC9FF;
	background-color: #00137F;
	box-shadow: 0px 1px 1px 1px #000;
}
.channel:nth-child(even), .vod:nth-child(even), .switcherChannel{
	background-color: #001489;
}
.selectedChannel{
	box-shadow: 0px 0px 2px 1px #000 inset;
	background-color: #7FC9FF; 
}
.channel:hover,.channel:hover b, .switcherChannel:hover{
	background-color: #7FC9FF;
	color: #00137F;
}
.controls i.fa-play:hover, .about i.fa-play{
	color: #00FF21;
}
.controls i.fa-external-link-square:hover, .about  i.fa-external-link-square{
	color: #FFEA23;
}
.controls i.fa-gamepad:hover, .about i.fa-gamepad{
	color: #AE00FF;
}
.controls i.fa-th-list:hover, .about i.fa-th-list{
	color: #0094FF;
}
.switcherChannel i.fa-trash-o, .about i.fa-trash-o,.controls i.fa-trash-o:hover{
	color: #FF0000;
}
.about i.fa-heart{
	color: pink;
}
.channels b{
	color: #7FC9FF;
}
.selectedChannel b{
	color: #00137F;
}
#notificationBox{
	color: #fff;
	background-color: #00137F;
	border: 2px solid #7FC9FF;
}
#notificationBox h3{
	border-bottom: 1px solid #fff;
}
#statusbar{
	background-color: #00137F;
	border-bottom: 1px solid #7FC9FF;
	box-shadow: 0px 0px 1px 1px #7FC9FF inset;
}
#statusbar span{
	color: #7FC9FF;
}
#statusbar .toggle{
	color: #001DC6;
}
#statusbar .smallToggle{
	color: #001DC6;
	width: 15px;
	height: 15px;
}
#statusbar .toggle:hover{
	color: #7FC9FF;
}
#statusbar .smallToggle:hover{
	color: #7FC9FF;
}
.onoffswitch-label {
    border: 1px solid #000; 
}
.onoffswitch-inner:before {
    background-color: #7FC9FF;
    color: #000;
}
.onoffswitch-inner:after {
    background-color: #f1f1f1; 
    color: #000;
}
::-webkit-scrollbar{
	background-color: #00137F;
}
::-webkit-scrollbar-thumb{
	background-color: #7FC9FF;
}
#pipbox{
	background-color: #00137F;
	border: 1px solid #000;
}
#pipbox i{
	color: #7FC9FF;
}