body{
	background-color: #fff;
	color: #333;
}
a{
	color: #167AD0;
}
input[type=button],
input[type=submit],
input[type=text],
select{
	border: 1px solid #000;
	background-color: #CC181E;
	color: #ddd;
}
input[type=button]:hover,
input[type=submit]:hover{
	background-color: #7D66B7;
	color: #ddd;
}
input[type=text], 
select, 
textarea{
	background-color: #BABABA;
	color: #202020;
}
#sidebar{
	background-color: #000;
	border-left: 1px solid #000;
}
#media{
	background-color: #fff;
}
.tabs > li > label{
	background-color: #fff;
	color: #333;
	border-right: 1px solid #333;
}
.tabs > li:last-child > label{
	border-right-width: 0px;
}
.tabs > li > input:checked + label{
	background-color: #CC181E;
	color: #ddd;
}
.tab-content{
	background-color: #fff;
}
.tab-content h3{
	color: #ddd;
}
.channel-splitter{
	background-color: #CC181E;
	color: #eee;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.channel,
.switcher-channel{
	color: #000;
	background-color: #bbb;
}
.channel:nth-child(even),
.vod:nth-child(even){
	background-color: #eee;
}
.channel:hover, 
.switcher-channel:hover, 
.channel .controls{
	background-color: #CBCBCB;
}
.channel{
	color: #333;
}
.channel .channel-genre,
.channel .channel-stats{
	color: #666;
}
.selected-channel,
.selected-channel .controls{
	background-color: #bbb !important;
}
.about img,
.channel img,
#stream-logo{
	background-color: #000;
}
.controls i.fa-play:hover, 
.about i.fa-play{
	color: #00FF21;
}
.controls i.fa-external-link-square:hover, 
.about  i.fa-external-link-square{
	color: #FFEA23;
}
.controls i.fa-gamepad:hover, 
.about i.fa-gamepad{
	color: #AE00FF;
}
.controls i.fa-th-list:hover, 
.about i.fa-th-list{
	color: #0094FF;
}
.switcher-channel i.fa-trash-o, 
.about i.fa-trash-o,
.controls i.fa-trash-o:hover{
	color: #FF0000;
}
.about i.fa-heart{
	color: pink;
}
.channels b{
	color: #fff;
}
#notification-box{
	color: #CC181E;
	background-color: #fff;
	border: 2px solid #000;
}
#notification-box h3{
	border-bottom: 1px solid #000;
}
#statusbar{
	background-color: #fff;
	border-bottom: 1px solid #000;
}
#statusbar .toggle{
	color: #aaa;
}
#statusbar .small-toggle{
	color: #aaa;
	width: 15px;
	height: 15px;
}
#statusbar .toggle:hover, 
#statusbar .smallToggle:hover{
	color: #CC181E;
}
.volume-empty-progress{
	background-color: #BABABA;
	border: 1px solid #000;
}
.volume-slider{
	background-color: #CC181E;
	border: 1px solid #000;
}
.onoffswitch-label {
    border: 1px solid #000; 
}
.onoffswitch-inner:before {
    background-color: #CC181E;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    background-color: #BABABA; 
    color: #000;
}
::-webkit-scrollbar{
	background-color: #fff;
	border-left: 1px solid #000;
}
::-webkit-scrollbar-thumb{
	background-color: #CC181E;
	border-left: 1px solid #000;
}
#pip-box{
	background-color: #fff;
	border: 1px solid #000;
}
#pip-box i{
	color: #000;
}