body{
	background-color: #E8E8E8;
}
a{
	color: #000;
}
input[type=button], input[type=submit],select,input[type=text]{
	border: 1px solid #000;
	background-color: #6441A5;
	color: #E8E8E8;
}
input[type=button]:hover, input[type=submit]:hover{
	background-color: #6441A5;
	color: #E8E8E8;
}
input[type=text], select, textarea{
	background-color: #6441A5;
	color: #E8E8E8;
}
#sidebar{
	background-color: #000;
	color: #6441A5;
	border-left: 1px solid #6441A5;
}
#sidebar i{
	text-shadow: 1px 1px #000;
}
#media{
	background-color: #E8E8E8;
}
.tabs > li > label{
	background-color: #6441A5;
	color: #E8E8E8;
	border-right: 1px solid #E8E8E8;
}
.tabs > li > input:checked + label{
	background-color: #E8E8E8;
	color: #222;
}
.tab-content{
	background-color: #E8E8E8;
	color: #000;
}
.tab-content h3{
	color: #fff;
}
.channelSplitter{
	background-color: #6441A5;
	color: #E8E8E8;
	border-top:1px solid #6441A5;
}
.channel, .switcherChannel{
	color: #222;
	border-bottom: 1px solid #6441A5;
	background-color: #E8E8E8;
}
.channel:nth-child(even), .vod:nth-child(even), .switcherChannel{
	background-color: #D8D8D8;
}
.selectedChannel{
	background-color: #6441A5; 
}
.channel:hover,.channel:hover b, .switcherChannel:hover{
	background-color: #6441A5;
	color: #E8E8E8;
}
.controls i.fa-play:hover, .about i.fa-play{
	color: #00FF21;
}
.controls i.fa-external-link-square:hover, .about  i.fa-external-link-square{
	color: #FFEA23;
}
.controls i.fa-gamepad:hover, .about i.fa-gamepad{
	color: #AE00FF;
}
.controls i.fa-th-list:hover, .about i.fa-th-list{
	color: #0094FF;
}
.switcherChannel i.fa-trash-o, .about i.fa-trash-o,.controls i.fa-trash-o:hover{
	color: #FF0000;
}
.about i.fa-heart{
	color: pink;
}
.channels b{
	color: #222;
}
.selectedChannel b{
	color: #fff;
}
.about img{
	background-color: rgba(0,0,0,0.7);
}
#notificationBox{
	color: #fff;
	background-color: #6441A5;
	border: 2px solid #000;
}
#notificationBox h3{
	border-bottom: 1px solid #000;
}
#statusbar{
	background-color: #E8E8E8;
	border-bottom: 1px solid #6441A5;
}
#statusbar img{
	background-color: rgba(0,0,0,0.5);
}
#statusbar span{
	color: #222;
}
#statusbar .toggle{
	color: #999;
}
#statusbar .smallToggle{
	color: #999;
	width: 15px;
	height: 15px;
}
#statusbar .toggle:hover{
	color: #6441A5;
}
#statusbar .smallToggle:hover{
	color: #6441A5;
}
.onoffswitch-label {
    border: 1px solid #000; 
}
.onoffswitch-inner:before {
    background-color: #6441A5;
    color: #E8E8E8;
}
.onoffswitch-inner:after {
    background-color: #999; 
    color: #000;
}
::-webkit-scrollbar{
	background-color: #E8E8E8;
}
::-webkit-scrollbar-thumb{
	background-color: #6441A5;
}
#pipbox{
	background-color: #E8E8E8;
	border: 1px solid #000;
}
#pipbox i{
	color: #6441A5;
}