body.theme-terminal{
	color: #3BC600;
	.notify-box a,
	button,
	input[type="submit"],
	.tabs > li > input:checked ~ label,
	.tabs > li > label:hover,
	.list-splitter,
	.setting-check input:checked + label{
		background-color: #3BC600;
		color: #000;
	}
	a,
	.chan-stat-genre,
	.chan-stat-viewers,
	.list-item-game .game-viewers,
	#topbar-controls i,
	.tabs > li > label{
		color: #3BC600;
	}
	a,
	#topbar-controls i{
		&:hover{
		color: $text-color1;
		}
	}
	#media #social-links i:hover{
		color: #3BC600;
	}
}